<!--<div class="container">
	<div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input ng-model='search' type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>
<hr style='margin-bottom: 20px;'>-->

<!--<div class="container">
    <div class="rowapps">

        <a ng-repeat="tool in tools|searchFor:search" href="{{host+tool.href}}">
            <img class="apps" src="{{tool.src}}" alt="{{tool.name}}" class="img-rounded" style='border-radius: 25px;'>
        </a>
    </div>
</div>
<hr style='margin-bottom: 20px;'>-->

<div class="jumbotron">
    <h3>Links to examples</h3>
    <ul>
        <li>
            <a ui-sref="soapjobs">Send soap message(SPA)</a>
        </li>
        <li>
            <a href="/mvc/soap/all">Manage messages(MVC)</a>
        </li>
        <li>
            <a href="/mvc/auth/all">Manage accesses(MVC)</a>
        </li>
    </ul>
    <br>

    <p> login - 'test1'; password - 'testuser' </p>

</div>

